header {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.navb{
    width: 70%;
    margin-left: -50px;
    text-align: center;
}
.navl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
li {
    list-style: none;
    margin-right: 35px;
    text-transform: uppercase;
    font-size: 10pt;
}
li:hover, .logotipo-header:hover {
    color: #201b3c;
    opacity: 70%;
    cursor: pointer;
}
.logotipo-header {
    font-size: 15pt;
    color: #201b3c;
    width: 15%;
    margin-left: 50px;
}
.btnLoginDiv, .perfilUser {
    float: right;
    width: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.btnLogin {
    margin-right: 50px;
    background: none;
    border: 3px solid #00ff88;
    color: #00ff88;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 13pt;
}
.imgPerfil {
    width: 66px;
    padding: 2px;
    border: 1px solid #00ff88;
    border-radius: 33px;
}
.imgPerfil:hover {
    cursor: pointer;
    opacity: 70%;
}
.btnLogin:hover {
    cursor: pointer;
    opacity: 70%;
    border: 3px solid #201b3c;
    color: #201b3c;
}
.menuUser {
    width: 200px;
    padding: 20px 0px;
    height: auto;
    background: darkslategrey;
    border-radius: 5px;
    position: absolute;
    margin-right: 95px;
    top: 87px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.menuUser li {
    font-size: 12pt;
    margin-top: 10px;
    color: white;
    font-family: 'Candara';
}
.menuUser li:first-child {
    margin-top: 0px;
}
.menuUser li:hover {
    color: #00ff88;
    opacity: 100%;
}
.menuUser::before {
    border: 15px solid transparent;
    border-bottom-color: darkslategrey;
    content: "";
    top: -30px;
    right: 36px;
    position: absolute;
}
.menuUser:hover {
    cursor: pointer;
}
@media only screen and (max-width: 800px){
    header, .navl {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .navl, .logotipo-header {
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    .logotipo-header {
        margin-top: 20px;
    }
    .btnLogin, .imgPerfil {
        margin: 0px;
        margin-bottom: 20px;
    }
    .navl li {
        margin-top: 10px;
        margin: 0px;
        margin-top: 6px;
    }
    .navl {
        margin-bottom: 20px;
        margin-top: 15px;
        margin-left: 5px;
    }
    .menuUser {
        top: 235px;
        margin-right: 0px
    }
    .menuUser::before { 
        right: 85px;
    }
}