.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b3c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1 {
    color: #77ffc0;
    font-size: 3vw;
}
.imgLogin {
    width: 35vw;
}
.right-login {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.redCad {
    color: #00ff88;
    text-decoration: underline;
    margin-top: 20px;
}
.redRes {
    color: gainsboro;
    margin: 0px;
    margin-bottom: 15px;
}
.redRes:hover {
    opacity: 50%;
    cursor: pointer;
}
.redCad:hover {
    cursor: pointer;
    opacity: 70%;
}
.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
}
.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
#mConect {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: #f0ffffde;
    justify-content: center;
}
#mConect label {
    margin-left: 5px;
}
.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
    margin-top: 10px;
}
.textfield > input::placeholder {
    color: #f0ffff94;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8852;

}
@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
        justify-content: start;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login > img{
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .card-login{
        width: 90%;
    }
}
