.meuProjeto {
    justify-content: center;
    align-items: center;
    display: flex;
}
.titleProjeto {
    color: white;
}
.titleMProjeto {
    margin-top: 50px;
    color: white;
}
.projeto {
    height: 100%;
    display: flex;
}
.infosProjeto {
    margin-left: 40px;
    margin-top: 70px;
    width: 50%;
}
.infosMProjeto {
    color: gainsboro;
}
.infosProjetoText {
    color: gainsboro;
    margin: 0px;
}
.infosProjetoText a {
    color: #00ff88;
}
.valorProjeto {
    font-size: 18pt;
    color: #00ff88;
    margin-top: 10px;
}
.direitosPlano {
    width: 45%;
    margin-right: 40px;
    background: #2f2841;
    border-radius: 20px;
    margin-top: 30px;
    height: calc(100% - 60px);
    float: right;
    box-shadow: 0px 0px 10px 0px #00ff88;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.infoDireitosPlano {
    margin-top: 20px;
}
.titleDireitos {
    color: #00ff88;
}